table{
    padding: 40px;
    margin: 40px;
    width: 200px;
}
.group{
    background-color: gray;
    padding: 40px;
    margin: 40px;
}
.Waterstof{
    border: solid black;
    background-color: chocolate;
}
.Lithium{
    border: solid black;
    background-color: mediumorchid;
}
.Beryllium{
    border: solid black;
    background-color: lightblue;
}
.Natrium{
    border: solid black;
    background-color: mediumorchid;
}
.Magnesium{
    border: solid black;
    background-color: lightblue;
}
.Kalium{
    border: solid black;
    background-color: mediumorchid;
}
.Calcium{
    border: solid black;
    background-color: lightblue;
}
.Scandium{
    border: solid black;
    background-color: yellow;
}
.Titanium{
    border: solid black;
    background-color: yellow;
}
.Vanadium{
    border: solid black;
    background-color: yellow;
}
.Rubidium{
    border: solid black;
    background-color: mediumorchid;
}
.Strontium{
    border: solid black;
    background-color: lightblue;
}

.Yttrium{
    border: solid black;
    background-color: yellow;
}
.Zirkonium{
    border: solid black;
    background-color: yellow;
}

.Niobium{
    border: solid black;
    background-color: yellow;
}
td:hover{
    background-color: lime;
    cursor: pointer;
}